option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application

container_commands:
  01_set_tmpdir_env:
    command: |
      echo 'export TMPDIR=/var/tmp' >> /etc/profile.d/tmpdir.sh

  02_force_tmpdir_for_pip:
    command: |
      export TMPDIR=/var/tmp
      export PIP_NO_CACHE_DIR=off
      /var/app/venv/*/bin/pip install --no-cache-dir --force-reinstall -r requirements.txt
    leader_only: true
