option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    TMPDIR: /var/tmp
    PIP_NO_CACHE_DIR: 'off'

container_commands:
  01_force_tmpdir_for_pip:
    command: |
      /var/app/venv/*/bin/pip install --no-cache-dir --force-reinstall -r requirements.txt
    leader_only: true
